#testimonials{
    text-align: center;
    /* background:#ef8172;*/
    background:#fd943f;
    color:white;
}
.carousel-item em{
    font-size:1.6rem;
}
.testimonial-img{
    width:10%;
    border-radius: 50%;
    margin:20px;
}
.carousel-item{
    padding:7% 15%;
}