#title{
    background:#ff4c68;
}
.phone-img{
    width:60%;
    transform:rotate(25deg);
    margin:20px 0 0 40px;
    position: absolute;  
}
.row .title-btn{
    display:inline-block;
    font-size:1.8rem;
    margin:35px auto 0;
}
.title-btn:last-of-type{
    margin:35px 0 0 20px;
}